<!DOCTYPE html>
<html lang="en">



<head>
    
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="index.html"><img src="images/log_image_short1.png" alt="" />
						</a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>All Courses</h4>
                            <ul>
                                <li><a href="course-details.html">Computer Science Engineering</a></li>
                                <li><a href="course-details.html">Electronics and Communication Engineering</a></li>
                                <li><a href="course-details.html">Electrical & Electronics Engineering</a></li>
                                <li><a href="course-details.html">Information Technology</a></li>
                
                            </ul>
                            <h4>User Account</h4>
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">Sign In</a></li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Register</a></li>
                            </ul>
                            
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#">Contact: Maisammaguda, Dhulapally, Post via Kompally Secunderabad-500100 Telangana, INDIA</a>
                                </li>
                                <li><a href="#">Phone: +91 40 64631994</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">Sign In</a>
                                </li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Sign Up</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index.html"><img src="images/log_image_short1.png" alt="" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="index.html">Home</a>
                                </li>
                                <li><a href="#">About us</a>
                                </li>
                              
                                <li><a href="all-courses.html">All Courses</a></li>
                                <!--<li><a class='dropdown-button ed-sub-menu' href='#' data-activates='dropdown1'>Courses</a></li>-->
                                                               <li><a href="events.html">Events</a>
                                </li>
                               <li class="admi-menu">
                                    <a href="#" class="mm-arr">Managemenet</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="admi-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="<h3></h3>">
                                                            <img src="images/course/Ch sir.jpg" alt="">
                                                            <span>Management</span>
                                                        </a>
                                                    </div>
                                                    <p>Intellectuals are not born but are made. They leave a trail with unmatched perseverance and rocky commitment in their principled endeavors.</p>
                                                    <a href="about.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="management2.html">
                                                            <img src="images/course/principal.jpg" alt="">
                                                            <span>Principal</span>
                                                        </a>
                                                    </div>
                                                    <p>Dr. Y. Madhavee Latha, as Principal of MRECW has always been a very proactive person and has involved herself in all the activities of the College.</p>
                                                    <a href="admission.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="management3.html">
                                                            <img src="images/course/dean.jpg" alt="">
                                                            <span>Dean Academics</span>
                                                        </a>
                                                    </div>
                                                    <p>The pride of MRECW, the Dean (Academics), Dr. D. Raghurami Reddy has obtained his B.E (Electrical) from Andhra University, M.E from R.E.C., Warangal and Ph.D. from I.I.T., Chennai.</p>
                                                    <a href="awards.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s4">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="management4.html">
                                                            <img src="images/course/faculty.jpg" alt="">
                                                            <span>Proffesional Student Chapters</span>
                                                        </a>
                                                    </div>
                                                    <p>	
Professional Chapters aim at Imparting Knowledge, Creating Communities, and Developing Careers. Through this we attempt to aid future engineers to do what scientists dream of.....</p>
                                                    <a href="seminar.html" class="mm-r-m-btn">Read more</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="contact-us.html">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">

                    </div>

                </div>
            </div>
        </div>
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form>
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="sf-box" placeholder="Search course and discount courses">
                                    </div>
                                    <div class="sf-list">
                                        <ul>
                                            <li><a href="course-details.html">Computer Science Engineering</a></li>
                                            <li><a href="course-details.html">Electronics and Communication Engineering</a></li>
                                            <li><a href="course-details.html">Electrical & Electronics Engineering</a></li>
                                            <li><a href="course-details.html">Information Technology</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="sf-submit">
                                    <input type="submit" value="Search Course">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->

    



    <!-- POPULAR COURSES -->




 <section>
        <div class="container com-sp pad-bot-70 pg-inn">
            <div class="row">
                <div class="cor">
                    <div class="col-md-3">
                        <div class="cor-top-deta cor-side-com">
                            <div class="cor-top-deta">
                               
							   
							   
                            </div>
                        </div>
                        
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cor-mid-img">
                            <img src="images/course.jpg" alt="">
                        </div>
                        <div class="cor-con-mid">
                            <div class="cor-p1">
                                <h2>Principal-MRECW</h2>
                           
                                
                            </div>
                            <div class="cor-p4">
							<img src="images/course/principal.jpg">
							<p></p>
                                                  </div>
                            <div class="cor-p5">
                                
                                

                                
                            	
<p>	

	Dr. Y. Madhavee Latha -                      view complete Profile	
B.Tech, M.Tech, Ph.D,,MIEEE, LMIETE, LMISTE, MCSI. 
Professor of ECE & Principal 
Recipient of “Women in Education Award” from Dewang Mehta National Education Awards, “Most Innovative Principal-Engineering Colleges in Telangana State Award” from International Education Awards, Time Cyber Media Pvt.Ltd. & “Best Principal Award for Excellence in Education” from Global Leader Foundation.
Dr. Y. Madhavee Latha, as Principal of MRECW has always been a very proactive person and has involved herself in all the activities of the College. She has always evinced great involvement with the MRGI family. She displays a keen interest in the affairs of the college and being a student friendly person is avidly interested in the academic progress of the students and staff. 

Dr. Y. Madhavee Latha, as a diligent scholar has excelled in studies from her childhood. Her dare to dream, to work smart and strive for excellence and to enjoy the journey every step of the way made her to scale greater heights. She has obtained her Bachelor’s Degree in Electronics & Communications Engineering from JNTUH. She has completed her Masters in Digital Systems & Computer Electronics from the prestigious JNTUH. She has completed her Doctoral Programme, Ph.D. in the area of Signal processing from the auspices JNTUH.

She took up Academic pursuit and has more than 19 years of Academic, Research and administrative experience. She served in an array of designations like Professor, Head of Department, ECE and Principal. Above all she took up a mission to ignite the young minds so as to nurture the students with the potential to reach greater horizons. She strongly believed in herself, her mentors, peers and team. 

Dr. Y. Madhavee Latha has attained Patent Right for her Technological Innovation “An Arrangement for Cultivation in a Chamber Using Fuzzy Logic Wind Intelligence Technology”. She also has 66 publications on an assortment of topics in reputed National & International Conferences and Journals like Springer, IEEE Transactions, Scopus Indexed and many more. She has published a book entitled “Signal processing Simulation Using MATLAB” and is also the Editor-in-Chief for International Journal of Research in Signal Processing, Computing and Communication-System Design with ISSN: 2395-3187.

She is the Member of IEEE & CSI and Life Member of IETE & ISTE. She has delivered more than 25 keynote addresses and expert lectures in conference and workshops sharing her expertise on various areas with the Academic fraternity. 

She has established IEEE, ISTE, IETE, CSI & HMA Student Professional Chapters and has convened more than 250 Conferences and Workshops for the benefit of students and staff on a variety of themes. She is the member of Editorial Boards and Advisory Committees for Conferences and Journals and has reviewed several journals in her field.

Dr. Y. Madhavee Latha precisely adheres to the spirit of time and stands for this in principle and practice. Under her guidance 4 members have been awarded Ph.D. and she is presently guiding 8 Research Scholars under JNTUH in the concerned field. She has guided a big number of technical projects. Her appointment as the evaluator of thesis by JNTU adds to her credit. 

In her 9 years of association with Malla Reddy Engineering College for Women as Principal, her innovative thinking, able leadership, meticulous planning, dynamism, dedication, diligence and commitment have achieved great laurels for the institution like NIRF India Ranking-2018 in the Rank Band of 151-200, Accepted by MHRD, Govt. of India, NBA Accreditation, NAAC Accreditation with ‘A’ Grade, ISO 9001;2015 Certification, Permanent Affiliation to JNTUH and 2(f) & 12(B) recognition under UGC Act 1956. Under her strong guidance the Institution is continuously progressing ahead to great heights of success in Academics, Infrastructure, Facilities, Teaching-learning Processes, Value Added Certification Courses, Training Programmes and Placements, setting the benchmarking standards for all others.

Dr. Y. Madhavee Latha, with her inspirational role in the field of education, has received the prestigious “Most Innovative Principal-Engineering Colleges in Telangana State Award” from International Education Awards, Time Cyber Media Pvt.Ltd., “Best Principal Award for Excellence in Education” from Global Leader Foundation and “Women in Education Award” by Dewang Mehta National Education Awards. She was also bestowed with the “Best Teacher Award” at G. Narayanamma Institute of Technology & Science.


</p> 


                        </div>
                        </div>
                    </div>
                    
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->
	
    	
    <!-- FOOTER COURSE BOOKING -->

    <!-- FOOTER -->
    <section class="wed-hom-footer">
        <div class="container">
            <!--<div class="row">
			  </div>-->
            <div class="row wed-foot-link">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Top Courses</h4>
                    <ul>
                        <li><a href="course-details.html">Computer Science Engineering (CSE) </a></li>
                        <li><a href="course-details.html">Electronics and Communication Engineering (ECE) </a></li>
                        <li><a href="course-details.html">Electrical & Electronics Engineering (EEE) </a></li>
                        <li><a href="course-details.html">Information Technology(IT)</a></li>
                      
                    </ul>
                </div>
                
				<div class="col-md-4">
                    <h4>DOWNLOAD OUR FREE MOBILE APPS</h4>
                    <ul>
                        <li><a href="#"><span class="sprite sprite-android"><img src="images/course/appstore.png"></span></a>
                        </li>
                        <li><a href="https://play.google.com/store/apps/details?id=com.mrecw.campus.notifications&hl=en"><span class="sprite sprite-ios"><img src="images/course/gplay.png"></span></a>
                        </li>
                    </ul>
                </div>
				
				
                <div class="col-md-4">
                    <h4>HELP & SUPPORT</h4>
                    <ul>
                        <li><a href="#">24x7 Live help</a>
                        </li>
                        <li><a href="#">Contact us</a>
                        </li>
                        <li><a href="#">Feedback</a>
                        </li>
                        <li><a href="#">FAQs</a>
                        </li>
                        <li><a href="#">Safety Tips</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Get In Touch</h4>
                    <p>Address: Maisammaguda, Dhulapally, Post via Kompally Secunderabad-500100 Telangana, INDIA</p>
                    <p>Phone: <a href="#!">+91 40 64631199</a></p>
                    <p>Email: <a href="#!">adminmrecw@gmail.com </a></p>
                </div>
                
                <div class="col-md-4">
                    <h4>SOCIAL MEDIA</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- COPY RIGHTS -->
    <section class="wed-rights">
        <div class="container">
            <div class="row">
                <div class="copy-right">
                    <p> Copyright © 2012 All Rights Reserved by MRECW.</p>
                </div>
            </div>
        </div>
    </section>

    <!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
    <section>
        <!-- LOGIN SECTION -->
        <div id="modal1" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Login</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Login" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- REGISTER SECTION -->
        <div id="modal2" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Create an Account</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name1" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="email" class="validate">
                                <label>Email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Confirm password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Register" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- FORGOT SECTION -->
        <div id="modal3" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello... </h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Forgot password</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name3" class="validate">
                                <label>User name or email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Submit" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

   

    <!--Import jQuery before materialize.js-->
    <script src="js/main.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/custom.js"></script>
</body>



</html>